*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.125rem;
}

body {
  color: var(--clr-black);
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: var(--fw-r);
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.5;
  background-color: hsl(0, 0%, 96%);
}

main {
  padding: var(--sp-m);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-m);
  line-height: 1;
  letter-spacing: -0.7px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}