/* General Utility Classes */
.u-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 0% 0%);
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.u-overflow--h {
  overflow: hidden;
}

.u-obj-ft--cov {
  object-fit: cover;
}

.u-obj-pos--t {
  object-position: top;
}

/* Display Utility Classes */
.u-dsply--blck {
  display: block;
}

.u-dsply--flx {
  display: flex;
}

/* Flexbox Utility Classes */
.u-flx-dir--cr {
  flex-direction: column-reverse;
}

/* Gap Utility Classes */
.u-gap--sm {
  gap: 17px;
}

/* Font Size Utility Classes */
.u-f-si--l {
  font-size: 46px;
}

/* Font Style Utility Classes */
.u-f-sty--n {
  font-style: normal;
}

/* Text Utility Classes */
.u-ta--c {
  text-align: center;
}

.u-lh--sm {
  line-height: 0.91;
}

.u-lh--xsm {
  line-height: 0.9;
}

.u-lttr-sp--sm {
  letter-spacing: -0.16px;
}

.u-lttr-sp--xsm {
  letter-spacing: -1.7575px;
}

/* Color Utility Classes */
.u-clr--l1 {
  color: var(--clr-l-1);
}

.u-clr--l2 {
  color: var(--clr-l-2);
}

.u-clr--d1 {
  color: var(--clr-d-1);
}

.u-clr--d2 {
  color: var(--clr-d-2);
}

.u-clr--white {
  color: var(--clr-white);
}

.u-clr--black {
  color: var(--clr-black);
}

/* Background Color Utility Classes */
.u-bg-clr--l1 {
  background-color: var(--clr-l-1);
}

.u-bg-clr--l2 {
  background-color: var(--clr-l-2);
}

.u-bg-clr--d1 {
  background-color: var(--clr-d-1);
}

.u-bg-clr--d2 {
  background-color: var(--clr-d-2);
}

.u-bg-clr--white {
  background-color: var(--clr-white);
}

/* Height Utility Classes */
.u-h-m {
  height: 32px;
}

.u-h--xxl {
  height: 137px;
}

/* Width Utility Classes */
.u-w--xm {
  width: 208px;
}

/* Margin Utility Classes */
.u-mrgn--t-sm {
  margin-top: 5px;
}

.u-mrgn--t-m {
  margin-top: 24px;
}

.u-mrgn--lr-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mrgn--b-msm-0 {
  margin-bottom: 15px;
}

.u-mrgn--b-msm-1 {
  margin-bottom: 20px;
}

/* Padding Utility Classes */
.u-pdng--m {
  padding: var(--sp-m);
}

.u-pdng--lr-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.u-pdng--t-m-minus {
  padding-top: calc(var(--sp-m) - 0.055rem);
}

.u-pdng--b-m-minus {
  padding-bottom: calc(var(--sp-m) - 0.055rem);
}

.u-pdng--b-n {
  padding-bottom: 0;
}